.todo {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.yet {
  color: black;
}
.done {
  color: gray;
  text-decoration: line-through;
}

.todoName {
  font-size: 30px;
  margin-right: 20px;
}

.btns {
  display: flex;
  align-items: center;
}

.btnDelete {
  font-size: 22px;
}

.btnCheck {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid #2096f3;
  border-radius: 50%;
}

.btnCheck.done {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../assets/images/check.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btnDelete.done {
  color: black;
}

@media screen and (max-width: 375px) {
  .todoName {
    font-size: 23px;
  }
  .btnCheck,
  .btnCheck.done {
    width: 22px;
    height: 22px;
  }
  .btnDelete {
    font-size: 18px;
  }
}
