.todo {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
}
.yet {
  color: black;
}
.done {
  color: gray;
  text-decoration: line-through;
}

.todoName {
  font-size: 30px;
  margin-right: 20px;
}

.btnDelete {
  font-size: 22px;
}

.btnCheck {
  font-size: 18px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid #33ba7c;
  border-radius: 50%;
}

.btnCheck.done {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../assets/images/checked.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btnDelete.done {
  color: gray;
}
